

    .hide {
		display:block;
	}
	.show {
		display:none;
	}
	.grayBar{
		background-color:#efefee
	}
	 #preview1, .img, img  
	 {  
	  width:100px;  
	 height:100px;    
	 }  
	 #preview1  
	{  
	border:1px solid #000;  
	} 
	
	 #preview2, .img, img  
	 {  
     width:100px;  
	 height:100px; 
	 }  
	 #preview2  
	{  
	border:1px solid #000;  
	}
	
	 #preview3, .img, img  
	 {  
	 width:100px;  
	 height:100px;    
	 }  
	 #preview3  
	{  
	border:1px solid #000;  
	} 
	
	
	 #batchPreview1, .img, img  
	 {  
	 width:100px;  
	 height:100px;   
	 }  
	 #batchPreview1  
	{  
	border:1px solid #000;  
	} 
	
	 #batchPreview2, .img, img  
	 {  
     width:100px;  
	 height:100px;   
	 }  
	 #batchPreview2  
	{  
	border:1px solid #000;  
	}
	
	 #batchPreview3, .img, img  
	 {  
	 width:100px;  
	 height:100px;  
	 }  
	 #batchPreview3  
	{  
	border:1px solid #000;  
	} 
	
	
	.boxs{ margin:0 auto; height:120px; width:550px; ;
	 padding-top:32px; overflow:hidden} 
	.box-left{ float:left; border:1px solid #000; height:80px; width:80px; text-align:right} 
	.box-right{ float:right; border:1px solid #000;  height:80px; width:80px; text-align:left} 
	
	.file {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
	}
	.file input {
	    position: absolute;
	    font-size: 100px;
	    right: 0;
	    top: 0;
	    opacity: 0;
	}
	.file:hover {
	    background: #AADFFD;
	    border-color: #78C3F3;
	    color: #004974;
	    text-decoration: none;
	}