<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>utf-8</charset>
			<Pattern>[%p] %c - %m%n</Pattern>
		</encoder>
	</appender>
	<logger name="org.springframework.test" level="OFF" />

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>