<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<description>Spring Task Configuration</description>
	<context:property-placeholder ignore-unresolvable="true" location="classpath:quartz.properties" />
<!-- 	1. 配置需要执行的 任务  -->
<!-- 	<bean id="jobTest" class="org.springframework.scheduling.quartz.JobDetailFactoryBean"> -->
<!-- 		<property name="jobClass"> -->
<!-- 			<value>com.huilian.hlej.hlej.scheduler.handler.DetailQuartzJobHandlerWithSpring -->
<!-- 			</value> -->
<!-- 		</property> -->
<!-- 		<property name="group" value="testGroup" />任务的分组  -->
<!-- 		<property name="name" value="testJob" />任务的名称 -->
<!-- 		<property name="durability" value="true" /> -->
<!-- 		<property name="jobDataAsMap"> -->
<!-- 			<map> -->
<!-- 				<entry key="targetObject" value="jobTestService" />具体任务的类 -->
<!-- 				<entry key="targetMethod" value="test" />具体任务执行的方法 -->
<!-- 			</map> -->
<!-- 		</property> -->
<!-- 	</bean> -->
<!-- 	2. 配置需要执行的 任务 调度规则  -->
<!-- 	<bean id="jobTestTrigger" -->
<!-- 		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"> -->
<!-- 		<property name="group" value="testGroup" /> 调度规则 分组 -->
<!-- 		<property name="name" value="testCronTrigger" /> 调度规则 名称  -->
<!-- 		<property name="jobDetail" ref="jobTest" />  调度规则 执行的任务 -->
<!-- 		<property name="cronExpression" value="5/5 * * * * ?" /> -->
<!-- 	</bean> -->
<!-- 	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean"> -->
<!-- 		<property name="dataSource"> -->
<!-- 			<ref bean="dataSource" /> -->
<!-- 		</property> -->
<!-- 		<property name="configLocation" value="classpath:quartz.properties" /> -->
<!-- 		<property name="startupDelay" value="3" />  项目启动成功后3秒执行 -->
<!-- 		<property name="applicationContextSchedulerContextKey" value="ctx" /> -->
<!-- 		<property name="overwriteExistingJobs" value="true" /> -->
<!-- 		<property name="triggers">  3. 添加 调度规则 -->
<!-- 			<list> -->
<!-- 				<ref bean="jobTestTrigger" /> -->
<!-- 			</list> -->
<!-- 		</property> -->
<!--     </bean> -->
	
</beans>
