name: Maven Build

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Run a one-line script
      run: |
        echo Running Maven Action to Build!
        echo $GITHUB_WORKSPACE
        ls gameoflife-web
  # ls game-of-life
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
        java-package: jdk  
    - run: |
        mvn -f pom.xml clean package
        
 
